:root {
  --dark: #232323;
}

/* qwitcher-grypen-regular - latin */
@font-face {
  font-family: 'Qwitcher Grypen';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/css/fonts/qwitcher-grypen-v1-latin-regular.woff2') format('woff2'),
    url('/css/fonts/qwitcher-grypen-v1-latin-regular.woff') format('woff');
}

body {
  background-color: #fcfdf0;
  color: var(--dark);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 200;
  margin: 2rem;
}

main {
  margin: 0 auto;
  max-width: 703px;
  width: fit-content;
  width: -moz-fit-content;
  a {
    color: inherit;
    &:hover {
      color: #ff6600;
    }
  }
  header {
    text-align: center;
    p {
      font-family: 'Qwitcher Grypen';
      font-size: 2.5rem;
      margin-bottom: 0.5em;
    }
  }
  figure {
    margin: 2rem 0;
    img {
      border: 1px solid var(--dark);
      max-width: 100%;
    }
    figcaption {
      text-align: center;
      padding: 0.5rem 0;
    }
  }
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 2em;
    }
    h2 {
      margin-bottom: 0.25rem;
    }
    p {
      line-height: 1.5;
      margin: 0;
    }
  }
}
